.body{
    font-family:"Monserrat";
}
#title
   {
    background-color: crimson;
    color:white;
 }
h1,h2,h3,h4,h5,h6{

    font-family: "Monserrat-Bold";
    font-weight: bold;
}
h1  {
    font-size: 3.5rem;
    line-height:1.5 ;
      }
 h2{
        font-size: 3rem;
    }
h3  {
    line-height:1.5 ; 
  }

p{
    color:#8f8f8f;
}
.container-fluid
{
   padding:3% 15% 10%;
}

.navbar {
    padding:0px,0px,4.5rem;
}

.navbar-brand
{  font-family: "Ubuntu";
    font-size:2.5rem;
    font-weight: bold;  

}
.nav-item
{
    padding:18px;
}
.nav-link
{
    font-family: "Monserrat-Light";
    font-size:1.3rem;
}
/*Botton*/
.download-button
{
    margine:5%,3%,5%,0%;
    padding:1%;
}
/*title image */
.title-image {
  width:60%;
  transform: rotate(25deg);
  padding:5%;
  padding-top:7%;
  position:absolute;
  right 30%;
}
/* Feature*/
#features
{
    padding:7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box
{
    text-align: center;
}
.icon
{
    color:rgb(250, 70, 94);
}
.icon:hover
{
    color:rgb(233, 43, 132);
}
/*testamonio*/
#testimonials
{
    padding:7% 10%;
    text-align: center;
    background-color: crimson;
    color:white;

}
.testimonial-image
{
    width:20%;
    border-radius: 100%;
    margin:20px;
}
#press
{
    background-color: crimson;
    text-align: center;
    padding-bottom:3% ;
}
.press-logo
{
    width:15%;
    margin:20px 20px 20px 50px;
}
.carousel-item
{
    padding:7% 15%;
}
/*Pricing section */
#pricing
{
    padding:100px;
}
.pricing-column
{
    padding:3% 2%;
    text-align: center;
}
@media (max-width:1028px)
{
    .title-image {
        width:60%;
        transform: rotate(0);
        position:static;
        right 30%;
      }
}
@media (max-width:1028px)
{
    #title
    {
        text-align: center;
    }
}

#cta
{
    background-color: crimson;
    color:white;
    padding:7% 15%;
}
.cta-action
{  
    text-align: center;
    font-family:"Monserrat-Black",sans-serif;
    font-size: 3.0rem;
    line-height:1.5 ;
    font-weight: bold;
}
#footer
{
    text-align: center;
    padding:7% 15%;
}
.social-icon
{
  margin:20px 10px;
}